.App {
  width: 375px;
  height: auto;
  margin: 0 auto;
  padding: 39.2px 35px 40px 36px;
}

@media (min-width: 1440px) {
  .App {
    width: 100%;
    height: auto;
    padding: 64px 80px 60px 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .main-content {
      display: flex;
      align-items: flex-start;
      justify-content: center;
    }
  }
}
