.App {
  width: 375px;
  height: 800px;
  background-image: url("/images/bg-mobile.svg");
  background-color: var(--violet);
  background-repeat: no-repeat;
  background-size: contain;
  padding: 39.2px 35px 40px 36px;
  display: flex;
  align-items: center;
  flex-direction: column;
}